<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="login-usuario">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <div class="row">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <h2 class="col-md-12">Login Usuario</h2>
   </div>
   <input type="email" placeholder="Email" value="{{email::input}}">
   <input type="password" placeholder="Password" value="{{password::input}}">
   <button class="btn btn-success" on-click="login">Login</button>
   <button class="btn btn-success" on-click="logout">Logout</button>
   <!-- $ por ser un atributo HTML en vez de un elemnto polymer
 <my-componente my-hidden = {{isLogged}}
 <span hidden$ =
 -->
   <span hidden$="{{!isLogged}}">Logado</span>

   <iron-ajax
     id="doLogin"
     url="http://localhost:3010/colapi/v3/login"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">

     <iron-ajax
       id="doLogout"
       url="http://localhost:3010/colapi/v3/logout"
       content-type="application/json"
       method="POST"
       handle-as="json"
       on-response="manageAJAXResponse2"
       on-error="showError">
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         }
       };
     }

     login() {
       console.log("El usuario ha pulsado el botón.");
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       // el $ para acceder a elemenos propios del shadow DOM (al iron-ajax)
       // convertimos el objeto JS a un JSON
       // el $ es por convención
       // body es una propiedad del iron-ajax
       this.$.doLogin.body = JSON.stringify(loginData);
       // hacemos petición con los datos del formulario del iron-ajax
       this.$.doLogin.generateRequest();
       console.log("Petición enviada");
     }

     logout() {
       console.log("El usuario ha pulsado el botón logout.");
       var logoutData = {
         "email" : this.email,
         "password" : this.password
       };
       // el $ para acceder a elemenos propios del shadow DOM (al iron-ajax)
       // convertimos el objeto JS a un JSON
       // el $ es por convención
       // body es una propiedad del iron-ajax
       this.$.doLogout.body = JSON.stringify(logoutData);
       // hacemos petición con los datos del formulario del iron-ajax
       this.$.doLogout.generateRequest();
       console.log("Petición enviada");
     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response);

     //redirigir
     //window.location = "/user/" + data.detail.response[0].id;
     if(data.detail.response.msg != undefined){
       console.log(data.detail.response.msg);
     }else{
       this.isLogged = true;
     }

      //window.location = "/components/colapi_front/src/visor-usuario/visor-usuario.html";

     }

     manageAJAXResponse2(data2) {
       console.log("Recibida respuesta del servidor logout");
       console.log(data2.detail.response);
       if(data.detail.response.msg != undefined){
         console.log(data.detail.response.msg);
       }else{
         this.isLogged = true;
       }
     //redirigir
     //window.location = "/user/" + data.detail.response[0].id;
    // if(data.detail.response[0].id ==undefined){
    //   alert(data.detail.response.msg);
    // }
      //window.location = "/components/colapi_front/src/visor-usuario/visor-usuario.html";

     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
