<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
       <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
       total columnas 12 (que indica el ancho máximo)-->
       <!-- media query -->
       <h1 class="col-md-12">Visor Cuentas</h1>
       <input class ="col-md-1 col-md-offset-9"type="text" value={{user_id::input}} />
       <h2 class="col-md-5">Soy {{first_name}} {{last_name}}</h2>
       <h2 class="col-md-5">cuentas {{iban}}</h2>
       <button class="btn btn-success">
         <a href="http://localhost:3010/colapi/v3/users/{{user_id}}/accounts/{{iban}}">Ver mis cuentas</a>
       </button>
<!--   <button class="btn btn-success">Login</button>
   <button class="btn btn-warning">Logout</button>
   <button class="btn btn-info">Info</button>
   <button class="btn btn-danger">Danger</button>-->
     </div>

     <iron-ajax
      auto=false
      id="getUser"
      url="http://localhost:3010/colapi/v3/users/{{user_id}}/accounts"
      handle-as="json"
      on-response="showData">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {

          user_id: {
            type: String

          },
          iban: {
            type: String

          },
          saldo: {
            type: String

          },
          accounts: {
            type: Array

          }
        };
      }
      showData(data){
        console.log("Datos del Usuario");
        console.log(data.detail.response);
        console.log(data.detail.response.id);
        console.log(data.detail.response.first_name);
        console.log(data.detail.response.last_name);
        console.log(data.detail.response.email);

        this.id = data.detail.response.id;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
