<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="componente-test">
  <template>
    <style>
      :host {
        display: block;
        color: blue;
      }
    </style>
    <h2>Hello [[name]]!</h2>
    <h2>y tengo [[age]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ComponenteTest extends Polymer.Element {
      static get is() { return 'componente-test'; }
      static get properties() {
        return {
          name: {
            type: String,
            value: 'Jorge Pinto'
          },
          age: {
            type: String,
            value: 28
          }
        };
      }
    }

    window.customElements.define(ComponenteTest.is, ComponenteTest);
  </script>
</dom-module>
